*{
	margin:0;
	padding:0;
	margin:auto;
	font-size:14px;
}
a{
	text-decoration:none;
	/* color:#2DBFB0; */
	color:gray;
}
a:hover{
	text-decoration:underline;
}
.container{
	width:1000px;
	height:660px;
}
	.header{
		width:100%;
		height:80px;
	}
		.header img{margin-top:20px;}
	.main{
		width:100%;
		height:460px;
		overflow:hidden;
	}
		.frank{
			text-align:center;
			width:50%;
			height:100%;
			float:left;
			padding-top:40px;
		}
		.login{
			width:49%;
			height:100%;
			float:left;
			text-align:center;
		}
		.login form{
			width:270px;
			margin:60px auto 0 auto;
			text-align:left;
		}
			.title{
				line-height:35px;
			}
				.title a{
					/* color:#2BB8AA; */
					float:right;
				}
					.title a img{
						vertical-align:middle;
					}
					/* .title a:after{
						width:0;
						height:100%;
						display:inline-block;
						vertical-align:center;
					} */
			.inp{
				width:270px;
				height:40px;
				border:1px solid #C2C2C2;
				overflow:hidden;
				margin-bottom:15px;
			}
				.inp i{
					float:left;
					width:10%;
					height:100%;
				}
				.inp i img{
					margin:10px 5px;
				}
				
				.inp input{
					width:85%;
					height:100%;
					float:right;
					border:0;
					font-size:16px;
				}
			.tip{
				width:100%;
				height:40px;
				line-height:40px;
				overflow:hidden;
				margin-top:-10px;
			}
				.tip .tip_detail{
					width:50%;
					height:40px;
					float:left;
				}
					.tip .tip_detail input{
						float:left;
						margin-top:13px;
					}
					.tip .tip_detail .sdays{
						float:left;
						margin-left:4px;
					}
				.tip a{
					width:47%;
					height:100%;
					float:right;
					text-align:right;
					color:#2BB8AA;
				}
		.loginin input{
			width:100%;
			height:40px;
			background-color:#2DBFB0;
			color:white;
			font-size:16px;
			font-family:"微软雅黑";
			border:0;
		}
		.reg{
			height:40px;
			line-height:40px;
		}
			.reg a{
				color:#2BB8AA
			}
			.logininOther{
				margin-top:5px;
			}	
			.logininOther p span:before{
				content:"----------";
				color:#C2C2C2;
			}
			.logininOther p span:after{
				content:"----------";
				color:#C2C2C2;
			}
			.logininOther .cor{
				display:block;
				margin-top:15px;
			}
				.logininOther .cor img{
					margin-right:10px;
				}
	.serve{
		width:100%;
		height:50px;
		border:1px solid #EEEEEE;
		border-left:0;
		border-right:0;
		overflow:hidden;
	}
		.serve ul{
			float:left;
			overflow:hidden;
		}
			.serve ul li{
				font-size:12px;
				list-style:none;
				float:left;
				line-height:50px;
			}
			.serve ul .ali:after{
				content:"|";
				margin-right:15px;
				margin-left:15px;
				color:#EEEEEE;
			}
			.lastli:after{
				content:"";
			}
		.serve img{
			float:left;
			margin-top:10px;
			margin-left:80px;
		}
	.footer{
		width:100%;
		height:50px;
		line-height:50px;
		color:gray;
	}